body {
    font-size: .875rem;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bg-green {
    background-color: rgb(135, 220, 103);
}

.bg-red {
    background-color: rgb(224, 125, 134);
}

.bg-violet {
    background-color: rgb(207, 149, 255);
}

.bg-yellow {
    background-color: rgb(222, 207, 98);
}

[role="main"] {
    padding-top: 48px;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.table thead tr {
    background-color: #dddddd
}

.section-bar {
    background-color: #333333;
    color: #ffffff;
    padding: 15px;
}