{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ guildName }}</h1>
    <ul>
        {% for member in guild.member %}
        <li>{{ member.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}