{% extends 'layout.html.twig' %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">{{ memberName }}</h1>
    </div>

    <h2>Raids</h2>

    {% for raid in raids|keys %}
        <h3>{{ raid }}</h3>
        <a href="./{{ raid|url_encode }}.html">See detailed character stats</a>
    {% endfor %}
{% endblock %}